### Open Flights Data Wrangling

To practice, you are going to wrangle data from OpenFlights.  You can read about it here: 

http://openflights.org/data.html

This includes three main files, one for each airport, one for each airline, and one for each route.  They can be merged or joined with the appropriate fields.  I have modified the files slightly to include a header row in the .dat files, which makes it a bit easier for you.  

You are required to work through the problems below.  This may take some time.  Be persistent, and ask questions or seek help as needed.

In [1]:
import pandas as pd
import numpy as np

In [23]:
# These files use \N as a missing value indicator.  When reading the CSVs, we will tell
# it to use that value as missing or NA.  The double backslash is required because
# otherwise it will interpret \N as a carriage return. 
airports = pd.read_csv('data/airports.dat', na_values=['\\N'])
airlines = pd.read_csv('data/airlines.dat', na_values=['\\N'])
routes = pd.read_csv('data/routes.dat', na_values=['\\N'])

1) Start by seeing what's in the data.  What columns are there?  What data types are the columns?  

Remember, 'object' means it is a string, while the numerical values can be floats or ints.  Sometimes you will have problems if it reads numeric data in as strings.  If that happens, you can use the function .astype() to convert it.  Look it up in the pandas API to get more details

In [24]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7183 entries, 0 to 7182
Data columns (total 14 columns):
1                       7183 non-null int64
Goroka Airport          7183 non-null object
Goroka                  7139 non-null object
Papua New Guinea        7183 non-null object
GKA                     5651 non-null object
AYGA                    7183 non-null object
-6.081689834590001      7183 non-null float64
145.391998291           7183 non-null float64
5282                    7183 non-null int64
10                      6873 non-null float64
U                       6873 non-null object
Pacific/Port_Moresby    6590 non-null object
airport                 7183 non-null object
OurAirports             7183 non-null object
dtypes: float64(3), int64(2), object(9)
memory usage: 533.2+ KB

In [25]:
airports.head()

,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081689834590001,145.391998291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [16]:
airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6161 entries, 0 to 6160
Data columns (total 8 columns):
-1         6161 non-null int64
Unknown    6161 non-null object
\N         179 non-null object
-          1533 non-null object
N/A        5887 non-null object
\N.1       5351 non-null object
\N.2       6144 non-null object
Y          6161 non-null object
dtypes: int64(1), object(7)
memory usage: 216.6+ KB

In [17]:
airlines.head()

,-1,Unknown,\N,-,N/A,\N.1,\N.2,Y
0,1,Private flight,NaN,-,NaN,NaN,NaN,Y
1,2,135 Airways,NaN,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,NaN,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,NaN,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,NaN,NaN,TFU,NaN,Russia,N

In [18]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67662 entries, 0 to 67661
Data columns (total 9 columns):
2B            67662 non-null object
410           67183 non-null float64
AER           67662 non-null object
2965          67442 non-null float64
KZN           67662 non-null object
2990          67441 non-null float64
Unnamed: 6    14597 non-null object
0             67662 non-null int64
CR2           67644 non-null object
dtypes: float64(3), int64(1), object(5)
memory usage: 3.4+ MB

In [22]:
print(len(routes))
routes.head()

67662

   2B    410  AER    2965  KZN    2990 Unnamed: 6  0  CR2
0  2B  410.0  ASF  2966.0  KZN  2990.0        NaN  0  CR2
1  2B  410.0  ASF  2966.0  MRV  2962.0        NaN  0  CR2
2  2B  410.0  CEK  2968.0  KZN  2990.0        NaN  0  CR2
3  2B  410.0  CEK  2968.0  OVB  4078.0        NaN  0  CR2
4  2B  410.0  DME  4029.0  KZN  2990.0        NaN  0  CR2

2) Select just the routes that go to or from Lexington Bluegrass Airport, and store them in their own dataframe.  

The airport code is LEX.  You should have a much smaller dataframe.  How many inbound routes and how many outbound routes are there?

In [21]:
df = routes[routes['SourceAirport'] == 'LEX']
print(len(df))
df

KeyError: 'SourceAirport'

In [ ]:
df2 = routes[routes['DestAirport'] == 'LEX']
print(len(df2))
df2

3) Now let's look at which airlines operate in and out of Lexington.  To do this, you need to merge the airline dataframe to the route dataframe.  

How many routes does each airline have?  The value_counts() method may be useful for answering this question.

In [ ]:
pd.value_counts(df2['AirlineID'])

In [ ]:
pd.value_counts(df['AirlineID'])

In [ ]:
df_dep = pd.merge(df,airlines, on='AirlineID', how='left')
df_dep

In [ ]:
df_arrive = pd.merge(df2,airlines, on='AirlineID', how='left')
df_arrive

4) It looks like there are some international airlines with Lexington routes.  To look at how many routes they have, create a new column in your dataframe called 'International', which is set to Y for an overseas airline and N for a domestic airline.  Calculate the percent of routes with an overseas airline.

In [ ]:
df_arrive['International'][0] = 'N'
df_arrive.head()

In [ ]:
for label in df_arrive.index:
    if df_arrive.Country[label] == 'United States':
        df_arrive['International'][label] = 'N'
    else:
        df_arrive['International'][label] = 'Y'
        
df_arrive

In [ ]:
df_dep['International'] = 'Y'
df_dep

In [ ]:
for label in df_dep.index:
    if df_dep.Country[label] == 'United States':
        df_dep['International'][label] = 'N'
    else:
        df_dep['International'][label] = 'Y'
        
df_dep

In [ ]:
percent_int = len(df_dep[df_dep['DestAirport'] == 'CLT']) / len(df_arrive['Country'])
print(percent_int*100,'%')

In [ ]:
df_arrive['Country'].iteritems

In [ ]:
percent_int = len(df_arrive[df_arrive['Country'] != 'United States']) / len(df_arrive['Country'])
print(percent_int*100,'%')

In [ ]:
percent_int = len(df_dep[df_dep['Country'] != 'United States']) / len(df_arrive['Country'])
print(percent_int*100,'%')

In [ ]:
percent_int = len(df_dep[df_dep['International'] != 'N']) / len(df_arrive['International'])
print(percent_int*100, '%')

5) Actually, it looks like a bunch of these routes are codeshares.  That means they are marketed by this airline, but operated by a different airline.  See the note in the data documentation on openflights.org/data.  The implication of this is that there are duplicates.

Can you figure out which ones are duplicates?  Can you then create a dataframe with only the unique routes?  How many unique inbound and outbound routes are there? 

Remember, someone has to operate the flight, so if all the routes to/from a particular airport are listed as codeshares, then something is funny...

It is also possible that more than one airline actually operates a route between the same two airports. (Having this sort of competition generally means that you will get better fares as a traveler.)  It may not be obvious what is actually in the data set, so dig or do external research as needed.

In [359]:
df_arrive.head()

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
1,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
2,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y

In [342]:
df2 = df_arrive.dropna(axis = 0,thresh = 16)
print(len(df2))
#df2.drop(df[])
df2

10

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
2,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
6,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
8,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
9,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
14,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
15,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
16,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
19,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,US Airways,NaN,US,USA,U S AIR,United States,Y,N

In [356]:
#looked at LEX master plan and saw that only these 4 airlines are serving the airport, thus they are the only unique routes
#found only the routes with those 4 airlines (already filtered by code share b/c codeshare may be another airline ad for one of the 4)
df_arrive2 = df2[df2.isin(['AA', 'DL','G4','UA'])]

df_arrive2 = df_arrive2.dropna(how = 'all')
print(len(df_arrive2))
df_arrive2

7

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
2,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN,NaN
3,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN,NaN
6,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
8,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
9,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
15,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN
16,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN

In [373]:
#look through the routes that dont have a codeshare to see if there are any airlines outside of the 4 mentioned before that are running
#there are 3 
#making the total number of unique arrivals 10
dfY = df_arrive[df_arrive['Codeshare'].isnull() ]
dfY

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
0,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
1,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
5,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
7,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
10,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
11,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
12,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
13,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
17,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,US Airways,NaN,US,USA,U S AIR,United States,Y,N
18,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD,US Airways,NaN,US,USA,U S AIR,United States,Y,N

In [374]:
#same process for departures
df3 = df_dep.dropna(axis = 0,thresh = 16)
print(len(df3))

df3

11

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
1,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
2,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
6,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
7,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
9,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
14,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
15,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
16,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
19,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,US Airways,NaN,US,USA,U S AIR,United States,Y,N

In [375]:
df_dep2 = df3[df3.isin(['AA', 'DL','G4','UA'])]

df_dep2 = df_dep2.dropna(how = 'all')
print(len(df_dep2))
df_dep2

8

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
1,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN,NaN
2,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN,NaN
3,AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN,NaN
6,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
7,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
9,DL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,NaN,NaN,NaN,NaN
15,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN
16,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN

In [376]:
dfY2 = df_dep[df_dep['Codeshare'].isnull() ]
dfY2
#there are 3 flights outside of the 4 from the master plan that dont have a codeshare
#making the total 11 unique departure flights

,Airline,AirlineID,SourceAirport,SourceAirportID,DestAirport,DestAirportID,Codeshare,Stops,Equipment,Name,Alias,IATA,ICAO,Callsign,Country,Active,International
0,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
5,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
8,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
10,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
11,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
12,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
13,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
17,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7,US Airways,NaN,US,USA,U S AIR,United States,Y,N
18,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD,US Airways,NaN,US,USA,U S AIR,United States,Y,N